Q1. How do you comment code in Python? What are the different types of comments?

we can add comments using # or triple quotes in python . there are two types of comments in python i.e 
1) Single line comment 
ex - 
# This is a single-line comment

2) Multi line comment
ex-

'''
This is a multi-line comment.
It can span multiple lines and provide documentation.
'''

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store data values. They act as named containers that hold information, which can be of various types like numbers, strings, lists, and more. Variables allow you to store data and manipulate it throughout your program.

To declare and assign values to variables in Python, you simply use the variable name followed by the assignment operator (=) and the value you want to assign.

ex-
age = 25

Q3. How do you convert one data type to another in Python?

In Python, we can convert one data type to another using type conversion functions or methods.

Here are some common type conversion functions and techniques:


1) Explicit Type Conversion (Casting): Use functions like int(), float(), str(), etc., to convert between data types explicitly.

ex- 
num = 42
num_str = str(num)

2) Using Constructors: Some data types have constructors, like int(), float(), etc., that can also perform type conversion.

ex-
num_str = "123"
num = int(num_str)

3) Implicit Type Conversion (Coercion): Python performs automatic type conversion when mixing different types in expressions.

ex-
int_num = 5
float_num = 3.14
result = int_num + float_num

4) Using Format Conversion: Strings can be formatted into different types using format() or formatted string literals (f-strings).

ex-
num_str = "42"
num = int(num_str)
print(f"The value is {num}")

Q4. How do you write and execute a Python script from the command line?

1) Create the Script:

notepad myscript.py

2) Write the Script:

print("Hello, Command Prompt!")

3) Run the Script:

python myscript.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]

# Slicing to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)  # Output: [2, 3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is typically represented as "a + bi", where "a" is the real part, "b" is the imaginary part, and "i" is the imaginary unit (âˆš-1). 

In Python, complex numbers are also represented similarly. The imaginary unit is denoted by a lowercase "j" or "J".
ex-
z1 = 3 + 4j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [2]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [3]:
price = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [4]:
name = "Apurva"
print(name)

Apurva

Q10. Given the string "Hello, World!", extract the substring "World".

In [11]:
str = "Hello, World!"
print(str[-6:-1])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [12]:
is_student = True