Q - 1 ) Solution ----

In [1]:
a="apurva"
b=[1,2,23,2.3,"def"]
c=2.34
e=(23,24,"hii")

Q -2 )  i) str
        ii) str
        iii) List
        iv) float

Q -3 ) Solution 


i) / - used to divide two numbers

In [9]:
2/3

0.6666666666666666

ii) % -  returns the remainder when the first operand is divided by the second

In [10]:
6%3

0

// - used for floor division

In [11]:
6//3

2

** - used for giving power to a number

In [13]:
2**2

4

Q - 4 ) Solution

In [15]:
my_list = [1,2,3,4,5,6,7,8,9,10,11]
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9
10
11

Q - 5 ) Solution

In [16]:
A = 100
B = 5
count = 0

while A % B == 0:
    count += 1
    A //= B

print("Number of divisions:", count)

Number of divisions: 2

Q - 6 ) Solution

In [17]:
data_list = list(range(1, 26))

for element in data_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q - 7 ) Solution

Mutable data types in Python:

Examples: lists (list), dictionaries (dict), sets (set).
Mutable objects can be modified by adding, removing, or changing their elements without creating a new object.
Modifying a mutable object affects its value in place.


Immutable data types in Python:

Examples: integers (int), floats (float), booleans (bool), strings (str), tuples (tuple).
Immutable objects cannot be modified after they are created.
Operations that seem to modify immutable objects actually create new objects with the modified values.